<% provide :title, t("users.lesson") %>
<h1>
  <%= t "users.lesson" %>
  <%=  @lesson.id %>
</h1>
<div class="row">
  <aside class="col-md-4">
    <section >
      <h1>
        <%= @lesson.category.name %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">
  <section>
    <% if @lesson.status.present? %>
      <%= t "views.lessons.score" %>
      <%= @lesson.lesson_words.correct_answers.count %>/
      <%= @lesson.words.count %>
      <%= render "show_result" %>
    <% else %>
      <%= form_for @lesson do |f| %>
        <%= f.hidden_field :status, value: true %>
        <%= f.fields_for :lesson_words do |builder| %>
          <div class="col-md-12 lesson_form">
            <%= builder.object.word.content %>
            <br/>
            <% builder.object.word.word_answers.each do |word_answer| %>
              <br/>
              <%= word_answer.content %>
              <%= builder.radio_button :word_answer_id, word_answer.id %>
              <%= builder.hidden_field :word_id %>
              <br/><br/>
            <% end %>
          </div>
        <% end %>
        <%= f.submit t("views.lessons.save"), class: "btn btn-primary btn-sm" %>
      <% end %>
    <% end %>
  </section>
</div>
