<% provide :title, t("admin.allcategory") %>
<li><%= link_to t("admin.addcategory"), new_admin_category_path,
  class: "btn btn-lg btn-primary" %></li>
<h1><%= t "admin.allcategory" %></h1>
<ul class="categories">
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.name, [:admin, category] %>
      <%= link_to t("admin.edit"), edit_admin_category_path(category),
        class:"btn btn-lg btn-primary" %>
      <%= link_to t("admin.delete"), admin_category_path(category),
        method: :delete, data: {confirm: t("admin.call")}, class: "btn btn-lg btn-primary" %>
    </li>
  <% end %>
</ul>
<%= will_paginate @categories %>
