<% provide :title, t("admin.allcategory") %>
  <%= link_to t("admin.addcategory"), new_admin_category_path,
    class: "btn btn-lg btn-primary" %>
<h1><%= t "admin.allcategory" %></h1>
  <table class="table table-striped">
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, [:admin, category] %></td>
        <td><%= link_to t("admin.edit"), edit_admin_category_path(category),
          class:"btn btn-sm btn-info" %>
        </td>
        <td><%= link_to t("admin.delete"), admin_category_path(category),
          method: :delete, data: {confirm: t("admin.call")}, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
<%= will_paginate @categories %>
