<% provide :title, t("views.categories.index.allcategories") %>
<h1><%= t "views.categories.index.allcategories" %></h1>
<ul class="categories">
  <% @categories.each do |category| %>
    <li>
      <%= category.name %>
    </li>
    <li>
      <%= form_tag lessons_path, method: :post do %>
        <%= hidden_field_tag "lesson[category_id]", category.id  %>
        <%= submit_tag t("views.categories.index.startlesson"), class: "btn btn-primary btn-md" %>
      <% end %>
    </li>
  <% end %>
</ul>
<%= will_paginate @categories %>
