<li>
    <%= link_to gravatar_for activity.user %>
    <%= link_to activity.user.name, activity.user %>
    <% if activity.action_type == Settings.activity.learned %>
      <%= t("views.activities.learned") %>
      <%= activity.load_lesson.lesson_words.count %>|
      <%= activity.load_lesson.category.name %>|
    <% elsif activity.action_type == Settings.activity.follow %>
      <%= t("views.activities.follow") %>|
      <%= link_to activity.load_user.name, activity.load_user %>
    <% else %>
      <%= t("views.activities.unfollow") %>|
      <%= link_to activity.load_user.name, activity.load_user %>
    <% end %>
    <%= time_ago_in_words(activity.created_at) %>
    <%= t("views.activities.ago") %>
</li>
